/*////////////////////
	ZEROLIVESLEFT
////////////////////*/

/*// RESET //*/

* {
	box-sizing: border-box;
}

main {
	overflow: hidden;
}

section {
	margin: 0;
}

/* FUTURE remove all * selectors, main overflow hidden, font-size 16px? */

figure {
	margin: 0;
}

img {
	vertical-align: middle;
}

a {
	text-decoration: none;
	cursor: pointer;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
}

/*////////////////////
	VARIABLES
////////////////////*/

:root {
	--background-light: #f6f6f6;
	--background-dark: #ececec;
	--font-main: #666666;
	--font-grey: #828282;
	--font-light: #eaeaea;
	--font-white: white;
	--brand-red: #bf3e3c;
	--brand-purple: #6e4b74;
	--brand-grey: #424242;
	--tag-blue: blue;
	--tag-green: green;
	--tag-orange: orange;
	--tag-grey: lightgrey;
}

/*// COLOUR //*/

html {
	background-color: var(--background-light);
}

a {
	color: var(--font-main);
}

.tag-cd {
	color: var(--tag-green);
}

.tag-ta {
	color: var(--brand-red);
}

.tag-vb {
	color: var(--tag-blue);
}

.tag-eg {
	color: var(--tag-orange);
}

.tag-ee {
	color: var(--brand-purple);
}

.tag-tc {
	color: var(--tag-grey)
}

/*////////////////////
	TYPOGRAPHY
////////////////////*/

/*// FONTS //*/

@font-face {
	font-family: d-din;
	src: url(../fonts/D-DIN.otf)
}

@font-face {
	font-family: Brandon_thin;
	src: url(../fonts/Brandon_thin.otf)
}

@font-face {
	font-family: Brandon_reg;
	src: url(../fonts/Brandon_reg.otf)
}

/*// FONT STYLING //*/

html {
	font-size: 16px;
}

@media screen and (max-width: 330px) {
	html {
		font-size: 14px;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
date {
	font-family: d-din;
}

h1,
h2,
h3,
h4,
h5 {
	text-transform: uppercase;
	letter-spacing: .05em;
}

/* Header title */

.top-title span {
	font-family: Brandon_reg;
	letter-spacing: .08em;
	font-size: 1.8rem;
}

/* Section title */

h2 {
	font-size: 1.5rem;
	font-family: Brandon_reg;
}

/* Featured game title */

.featured-game h2 {
	font-size: 1.5rem;
}

/* Featured article title */

.featured-article h2,
.featured-idea h2 {
	font-size: 1.2em;
	font-family: Brandon_thin;
}

/* Article title */

.featured-article h3,
.featured-idea h3 {
	font-size: 1.25rem;
}

h4 {
	font-size: 1.1rem;
}

/* Tag title */

h5 {
	font-size: 1rem;
}

/* Feed game title */

#home-feed h3 {
	font-family: Brandon_thin;
	font-size: 1.4rem;
	text-transform: uppercase;
}

date,
span,
p,
a {
	font-size: .95rem;
}

/*// Widescreen response //*/

@media screen and (min-width: 1280px) {
	html {
		font-size: 24px;
	}
}

/*////////////////////
	SITE-WIDE STYLING
////////////////////*/

h2 {
	margin: .6em 0;
}

h3 {
	margin: .5em 0;
}

h4 {
	margin: .4em 0;
}

h5 {
	margin: .3em 0;
}

/* SITE-WIDE CLASSES */

.block {
	position: relative;
}

.content {
	padding: .2em 8%;
	z-index: 5;
	z-index: 10;
}

h5[class^="flag"] {
	display: inline-block;
	margin: 0 .2em 0 0;
	padding: .5em .6em;
}

.flag-g {
	background-color: var(--brand-purple);
}

.flag-a {
	background-color: var(--brand-red);
}

.flag-i {
	background-color: var(--brand-grey);
}

.line-info {
	color: var(--font-light);
}

.line-tags a {
	font-style: italic;
}

.overlay {
	position: absolute;
	bottom: 0;
	color: white;
	z-index: 5;
}


/*////////////////////
	IMAGE
////////////////////*/

/*// MOBILE //*/

.img-block {
	width: 100%;
	height: auto;
	z-index: -5;
}

.img-block img {
	width: 100%;
}

.img-wide {
	width: 100%;
}

.diagonal-figure img {
	width: 100%;
	height: auto;
}

/* Ratios */

@media screen and (min-width: 450px) {
	.block {
		height: 30vh;
	}

	.diagonal-figure {
		height: 30vh;
	}

	.diagonal-figure img {
		width: 100%;
		height: auto;
	}
}

@media screen and (max-aspect-ratio: 1/1) and (min-width: 450px) {
	.block {
		height: 25vh;
	}

	.diagonal-figure {
		height: 25vh;
	}

	.diagonal-figure img {
		width: auto;
	}
}

@media screen and (max-aspect-ratio: 3/4) and (min-width: 450px) {
	.block {
		height: 25vh;
	}

	.diagonal-figure {
		height: 25vh;
	}

	.diagonal-figure img {
		height: 100%;
		width: auto;
	}
}

@media screen and (max-aspect-ratio: 9/16) and (min-width: 450px) {
	.block {
		height: 50vh;
	}

	.diagonal-figure {
		height: 50vh;
	}

	.diagonal-figure img {
		height: 100%;
		width: auto;
	}
}

@media screen and (min-aspect-ratio: 4/3) and (min-width: 450px) {
	.block {
		height: 40vh;
	}

	.diagonal-figure {
		height: 40vh;
	}

	.diagonal-figure img {
		min-width: 100%;
		min-height: 100%;
		height: auto;
	}
}

@media screen and (min-aspect-ratio: 16/9) and (min-width: 450px) {
	.block {
		height: 60vh;
	}

	.diagonal-figure {
		height: 60vh;
	}

	.diagonal-figure img {
		height: 100%;
	}

}

/*////////////////////
	HEADER
////////////////////*/

.top-header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: var(--background-light);
	z-index: 100;
}

.top-header .wrapper {
	position: relative;
	display: flex;
	flex-flow: column;
}

.top-header .bottom-nav::after {
	content: '';
	height: 100%;
	position: absolute;
	border-right: 2px solid var(--background-dark);
	top: 0;
	left: 0;
	transform: skewX(20deg);
	width: 15%;
}

.top-header nav {
	display: flex;
	flex-flow: row;
}

.top-header nav a {
	text-transform: uppercase;
	display: inline-block;
	padding: .4em;
}

.top-nav {
	background-color: var(--brand-grey);
	justify-content: space-between;
	padding: 0 3%;
}

.top-nav a {
	color: white;
}

.top-header .contact-links a {
	font-family: Brandon_reg;
}

.top-header .sm-icons a {
	padding: .4em;
}

.top-title {
	text-align: center;
	margin: .2em 0;
}

.top-title span:first-of-type {
	color: var(--brand-red);
}

.top-title span:last-of-type {
	color: var(--brand-purple);
}

.bottom-nav {
	position: relative;
	border-top: 2px solid var(--background-dark);
	justify-content: flex-end;
	padding-right: 3%;
}

.bottom-nav a {
	font-family: Brandon_reg;
	margin: 0 2vw;
	letter-spacing: .05em;
}

/*// Tablet response //*/

@media screen and (min-width: 450px) {

	.top-header a {
		letter-spacing: .1em;
	}

	.top-nav {
		justify-content: space-between;
		flex-basis: 100%;
	}

	.top-header .sm-icons {
		text-align: right;
	}

	.top-title {
		text-align: left;
		padding-left: 15vw;
		margin: .1em 0;
	}

	.bottom-nav {
		justify-content: flex-start;
		padding-right: 0;
		padding-left: 15vw;
	}
}

@media screen and (min-width:450px) and (max-width: 767px) {
	.top-nav a {
		margin: 0 1vw;
	}
}

/*// Wide response //*/

@media screen and (min-width: 768px) {
	.top-header {
		position: static;
	}

	.top-header .wrapper {
		flex-flow: row wrap;
	}

	.top-nav {
		order: 2;
		flex-basis: 40%;
		justify-content: flex-end;
		background-color: var(--background-light);
		color: var(--font-dark);
		border-top: 1px solid var(--background-dark);
		padding-left: 0;
	}

	.top-nav a {
		color: var(--font-main);
	}

	.top-header .contact-links {
		margin-right: 2vw;
	}

	.top-header .sm-icons a {
		font-size: 1.1rem;
	}

	.top-title {
		order: 0;
		flex-basis: 100%;
		margin: .2em 0;
	}

	.bottom-nav {
		order: 1;
		flex-basis: 60%;
		justify-content: flex-start;
		padding-right: 0;
		padding-left: 15vw;
	}
}

/*////////////////////
	FEATURED STYLING
////////////////////*/

.section-featured {
	margin-top: 90px;
}

.section-featured h2 {
	padding-bottom: .2em;
}

.section-featured p {
	color: var(--font-light);
}

.featured-game h2 {
	margin-bottom: .1em;
	padding-left: 8%;
}

.featured-game .overlay {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.4+30,0.65+100 */
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 30%, rgba(0, 0, 0, 0.65) 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 30%, rgba(0, 0, 0, 0.65) 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 30%, rgba(0, 0, 0, 0.65) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
	/* IE6-9 */
}

.featured-game .content {
	margin-bottom: 2em;
}

.featured-game hr {
	width: 100%;
}

.featured-article .diagonal-content,
.featured-idea .diagonal-content {
	margin-top: 2em;
}

.featured-article,
.featured-article p {
	color: var(--font-main);
	background-color: white;
}

.featured-article h2,
.featured-idea h2 {
	padding-left: 8%;
	padding-top: .3em;
}

.featured-idea {
	background-color: var(--brand-grey);
	color: white;
}

.featured-idea h2 {
	border-color: var(--font-white);
}

.featured-article .content,
.featured-idea .content {
	padding-top: 0;
}

/* Wide response */

@media screen and (min-width: 550px) {

	.section-featured {
		margin-top: 0;
	}

	.flex-container {
		display: flex;
		flex-flow: row;
		justify-content: center;
		position: relative;
	}

	.diagonal-figure {
		flex-basis: 50%;
		overflow: hidden;
		z-index: 10;
	}

	.diagonal-content {
		flex-basis: 50%;
		z-index: 3;
	}

	.featured-preview figure {
		height: 100%;
	}

	.featured-game .overlay {
		display: flex;
		flex-flow: column;
		justify-content: flex-end;
		height: 100%;
		width: 40%;
		padding: 0;
		background: rgba(0, 0, 0, 0.6);
		z-index: 10;
		clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 0% 100%);
	}

	.featured-game h2 {
		margin: 0;

	}

	.featured-article figure {
		clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 0% 100%);
	}

	.featured-article hr {
		margin-left: -20%;
	}

	.featured-idea hr {
		margin-right: -5%;
	}

	.featured-idea figure {
		clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%)
	}

	.featured-idea .diagonal-figure {
		order: 2;
		flex-basis: 50%;
	}

}

/*////////////////////
	FEED STYLING
////////////////////*/

.feed .content {
	background: rgba(0, 0, 0, 0.5);
}

.feed .block {
	margin-bottom: 2px;
}

.feed > h2 {
	display: none;
}

.feed-info {
	display: flex;
	flex-flow: row nowrap;
	border-top: 1px solid white;
	margin-right: -10%;
	color: var(--font-light);
}

.line-flag {
	flex-basis: auto;
	white-space: nowrap;
}

.line-tags {
	flex-basis: auto;
}

.line-tags {
	padding-top: .5em;
}

a[class^="tag-"] {
	white-space: nowrap;
}

.feed p {
	color: var(--font-light);
}

@media screen and (min-width: 768px) {
	
	.feed {
	}
	
	.feed .content {
		background: white;
		padding-right: 0;
		padding-left: 10vw;
		color: var(--zll-main);
	}
	
	.feed > h2 {
		display: block;
		margin-left: 10vw;
		margin-top: 1em;
	}
	
	.feed-preview {
		display: flex;
		border: 1px ridge lightgrey;
		border-left: none;
		border-right: none;
		margin: 1em 10vw 1em 0;
	}
	
	.feed-1 {
		margin-top: 0;
	}
	
	.feed-preview .overlay {
		position: relative;
		flex: 1 1 50%;
	}
	
	.feed-preview figure {
		flex: 1 1 50%;
	}

	.feed-preview p {
		color: var(--zll-main);
		margin-right: 20%;
	}
	
	.feed-info {
		margin-right: 0;
		border-top: 1px solid grey;
	}
}
